@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    font-family: Roboto, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.dropdwn{
    margin: 0 auto;
}
nav{
    height: 60px;
    

}
.logo{
    padding: 6px 0 0 80px;
    width: 250px;
    height: auto;
}
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}
nav ul li{
    
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: rgb(8, 8, 8);
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}
nav ul li a:hover{
    color: #11db33;
}
nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
.half_width{
    width: 50%;
    float: left;
    padding: 2%;
    margin-top: 2%;
}
.slider{  
    float: left;
    color: whitesmoke;
   
}
.light{
    padding-left: 100px;
}
.green_highlight{
    color: green;
}
.justify{
    text-align: justify;
}
.style_button{
    padding: 10px 10px;
    color: green;
    border: 1px solid green;
    background: none;
}



.recent_project{
    background-color: gainsboro;
    display: inline-block;
    text-align: center;
    
}

.center{
    text-align: center;
    margin-top: 50px;
}
.picture_recent{
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    text-align: center;
}
.work{
    margin-top: 30px ;
    width: 100%;
    height: 100%;
    background-color: green;
    color: whitesmoke;
}
.element{
    padding: 50px;
}

.colection{
    margin-top: 100px;
}
.collection_img{
    margin-top: 20px;
}
.upcoming_events{
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    text-align: center;
}
.upcoming_events p{
    color: darkgray;
    font-size: 15px;
}
.card-text{
    text-align: left;
    color: darkgray;
    font-size: 13px;
}

.upcoming_events ul{
    text-align: left;
    display: flex;
    justify-content:flex-start;
    color: darkgray;
}

.top-sponsors{
    background-color: gainsboro;
    display: inline-block;
    text-align: center; 
    margin-top: 50px;
   
    width: 100%;
    text-align: center;
}
.space{
    background-color: gainsboro;
    display: inline-block;
    text-align: center; 
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    text-align: center;

}

